# Didaxis Studio Test Credentials
DIDAXIS_EMAIL=your-test-email@example.com
DIDAXIS_PASSWORD=your-test-password

# Base URL (optional - defaults to https://test.didaxis.studio)
BASE_URL=https://test.didaxis.studio

ATLASSIAN_BASE_URL=https://legionqaschool.atlassian.net/
ATLASSIAN_EMAIL=jira@proton.me 
ATLASSIAN_API_TOKEN=ATATT3xFfGF0P4RFAclqDs247_wU8S663r669ly-_SdTj2HXK6AfDUB41E4YOYrXRJDFFtDwx2Kb8uBzFkQGsSB-UU2ef2RabX9A3HRoem1MvxSP-9Pwttes5IWVR4yHTgCmqdebw16fFlFL5Njz1L0GDrqGXYUQw1rsTUK45FbV57FwzA85J4s=A15D5AD7

JIRA_PROJECT_KEY=DS
JIRA_LOGIN_EMAIL=legion.jira@proton.me 
JIRA_LOGIN_PASSWORD= legion177!
